.logo_firefox {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

html {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}

h1 {
    margin: 0;
    padding:20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
    
}

body{
    background-color: #bfa;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0;
    border: 5px solid rgb(165, 155, 155);

}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}